<html>
  <title>Custom ERB Signup Form</title>
  <body>
    <form action="/signup" method="POST">
      <input name="login" />
      <input name="password" />
      <%= 10 / 2 %>
    </form>
  </body>
</html>
