%html
  %head
    %title
      Custom HAML Login Form
    %body
      %form{:action => '/login', :method => 'post'}
        = 2+2
        %input{:name => 'username'}
        %input{:name => 'password'}
