%html
  %head
    %title
      Custom HAML Signup Form
    %body
      %form{:action => '/signup', :method => 'post'}
        = 10 / 2
        %input{:name => 'login'}
        %input{:name => 'password'}
